// http://fontello.com/

@font-face {
	font-family: 'fontello';
	font-style: normal;
	font-weight: normal;
	src: url('../fonts/fontello.eot?44403552');
	src: url('../fonts/fontello.eot?44403552#iefix') format('embedded-opentype'),
	     url('../fonts/fontello.woff?44403552') format('woff'),
	     url('../fonts/fontello.ttf?44403552') format('truetype'),
	     url('../fonts/fontello.svg?44403552#fontello') format('svg');
}
